CLIENT_ID=xxxxxxxx
CLIENT_SECRET=xxxxxxxx
SERVICE_ACCOUNT=xxxxxxxx
BOT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nXXXXXX\n-----END PRIVATE KEY-----"
BOT_ID=xxxxxxxx
CHANNEL_ID=xxxxxxxx
SPREADSHEET_ID=xxxxxxxx
SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/xxxxxxxx

